.header {
  color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: linear-g/radient(70deg, blue, pink); */
}

a {
  text-decoration: none;
  padding: 1rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  text-decoration: none;
  list-style-type: none;
  padding: 1rem;
}
